<!DOCTYPE html>
<html>
<title>Hypervisor Setup</title>
<body>
<main>
    <h1>Hypervisor Setup</h1>
    <section>
        {% block main %}

        {% endblock %}
    </section>
</main>
</body>
</html>